<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttpBindingJson">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
        <behavior name="webHttpBindingAuto">
          <webHttp automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="HASystem.Server.Remote.Wcf.ServiceImplementation.Status">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:80/v1/Status" />
          </baseAddresses>
        </host>
        <endpoint address="xml" binding="webHttpBinding" contract="HASystem.Server.Remote.Wcf.ServiceContracts.IStatus" />
        <endpoint address="json" binding="webHttpBinding" contract="HASystem.Server.Remote.Wcf.ServiceContracts.IStatus" behaviorConfiguration="webHttpBindingJson" />
        <endpoint address="soap" binding="basicHttpBinding" contract="HASystem.Server.Remote.Wcf.ServiceContracts.IStatus" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="" binding="webHttpBinding" contract="HASystem.Server.Remote.Wcf.ServiceContracts.IStatus" behaviorConfiguration="webHttpBindingAuto" />
      </service>
      <service name="HASystem.Server.Remote.Wcf.ServiceImplementation.DevicesService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:80/v1/Devices" />
          </baseAddresses>
        </host>
        <endpoint address="xml" binding="webHttpBinding" contract="HASystem.Server.Remote.Wcf.ServiceContracts.IDevicesService" />
        <endpoint address="json" binding="webHttpBinding" contract="HASystem.Server.Remote.Wcf.ServiceContracts.IDevicesService" behaviorConfiguration="webHttpBindingJson" />
        <endpoint address="soap" binding="basicHttpBinding" contract="HASystem.Server.Remote.Wcf.ServiceContracts.IDevicesService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="" binding="webHttpBinding" contract="HASystem.Server.Remote.Wcf.ServiceContracts.IDevicesService" behaviorConfiguration="webHttpBindingAuto" />
      </service>
      <service name="HASystem.Server.Remote.Wcf.ServiceImplementation.ComponentsService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:80/v1/Components" />
          </baseAddresses>
        </host>
        <endpoint address="xml" binding="webHttpBinding" contract="HASystem.Server.Remote.Wcf.ServiceContracts.IComponentsService" />
        <endpoint address="json" binding="webHttpBinding" contract="HASystem.Server.Remote.Wcf.ServiceContracts.IComponentsService" behaviorConfiguration="webHttpBindingJson" />
        <endpoint address="soap" binding="basicHttpBinding" contract="HASystem.Server.Remote.Wcf.ServiceContracts.IComponentsService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="" binding="webHttpBinding" contract="HASystem.Server.Remote.Wcf.ServiceContracts.IComponentsService" behaviorConfiguration="webHttpBindingAuto" />
      </service>
    </services>
  </system.serviceModel>
</configuration>